{% extends 'base.html.twig' %}
{% block title %}Productos{% endblock %}
{% block body %}
<table>
<tr>
    <td>Nombre del producto</td>
    <td>Precio del producto</td>
    <td>Enlace al producto</td>
    <td>Carrito</td>
    </tr>
{% for producto in productos %}
    <tr>
    <td>{{producto.nombre}}</td>
    <td>{{producto.precio}} $</td>
    <td><a href='/producto/{{producto.id}}'>Ver producto</a></td>
    <td><a href='/carrito?id={{producto.id}}'>Anadir al carrito</a></td>
    </tr>
{% endfor %}
</table>
<a href="/insertar">✎ Insertar producto</a>
<a href="/verCarrito">🛒 Ver carrito</a>
{% endblock %}